@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-base-text: var(--color-gray-600);
  --color-base-text-dark: var(--color-gray-400);

  --color-heading-text: var(--color-gray-900);
  --color-heading-text-dark: var(--color-gray-100);

  --color-bg-base: var(--color-gray-50);
  --color-bg-base-dark: var(--color-gray-900);

  --color-bg-content: var(--color-white);
  --color-bg-content-dark: var(--color-gray-800);

  --color-card-border: var(--color-gray-200);
  --color-card-border-dark: var(--color-gray-700);

  --color-primary: var(--color-blue-600);
  --color-primary-dark: var(--color-blue-400);

  --color-secondary: var(--color-gray-600);
  --color-secondary-dark: var(--color-gray-400);


  --color-info: var(--color-blue-600);
  --color-info-dark: var(--color-blue-400);
  --color-success: var(--color-green-600);
  --color-success-dark: var(--color-green-400);
  --color-warning: var(--color-amber-600);
  --color-warning-dark: var(--color-amber-400);
  --color-danger: var(--color-red-600);
  --color-danger-dark: var(--color-red-400);

  --color-gray-750: rgb(27, 37, 52);
  --color-gray-850: rgb(24,33,47);
}

@utility gc-gradient {
  background: linear-gradient(135deg, #f0f4ff 0%, #e6f2ff 30%, #dbeafe 70%, #bfdbfe 100%);
}

@utility gc-gradient-dark {
  background: linear-gradient(135deg, #0f0f23 0%, #1a1a2e 50%, #16213e 100%)
}

.gc-container {
  @apply p-4 max-w-[40rem] md:max-w-[50rem] lg:max-w-[60rem] xl:max-w-[80rem] 2xl:max-w-[95rem] m-auto;
}